body{
    line-height: 24px;
    font-size: 14px;
    color: #b6b7b9;
    background: #13151f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
}
header{
    background-image:url('../images/hero-area.png');
}