<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge,chrome=1">

    <title>享受美味的影视时光</title>
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" media="all">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="{% url 'video:index' %}">
                    <img src="../../static/images/logo.png" alt="logo-首页">
                </a>
            </div>
            <div class="header-right">
                <div class="search">
                    <form action="#">
                        <select>
                            <option value="movie">电影</option>
                            <option value="Tv">剧集</option>
                        </select>
                        <input type="text">
                        <button>
                            <i class=""></i>
                        </button>
                    </form>
                    <ul>
                        <li>
                            <a href="#"><i class=""></i>Sign up</a>
                        </li>
                        <li>
                            <a href="#"><i class=""></i>Login in</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-area">
                    <div class="mainmenu"></div>
                    <ul id="primary-menu">
                        <li><a class="active" href="#">首页</a></li>
                        <li><a class="active" href="#">电影</a></li>
                        <li><a class="active" href="#">剧集</a></li>
                        <li><a class="active" href="#">综艺</a></li>
                        <li><a class="active" href="#">纪录片</a></li>
                        <li><a class="active" href="#">动漫</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <section>

        </section>
    </header>
    <main>
        <section >
            <div>
                <img src="" alt="">
                <h3></h3>
                <div >d</div>
                <div></div>
                <div></div>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <i class="">
                    </i>
                    <p>
                        排行
                    </p>
                </div>
                <div>
                    <ul>
                        <li><a></a></li>
                    </ul>
                </div>
            </div>
            <div>

            </div>


        </section>
    </main>


</body>
</html>